div {
    column-count: 3;
  }
        
        h1 {color: black;
            text-decoration-style: emphasis;
            font-size: 48px;
            font-family: sans-serif;
            column-span: all;
            text-align: center;
            background-color: violet;
            } 
            
            h2 {color: turquoise;
            font-size: 40px;
            font-family: sans-serif;
            text-align: center;
            column-span: all;
            }
    
            p {color: green;
            font-size: 20px;
            font-family: sans-serif;
             }
    
             h3 {color: orange;
            font size: 72px;
            font-family: sans-serif;
            }
    
         p, li {
             font-size: 24px;
             font-family: sans-serif;
           
         }

         .email {
             color: blue;
         }

         .GitHub {
             color: magenta;
         }

         .Coming {
             color: turquoise;
         }